a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
h6 {
  font-size: 1.7rem;
}
#gradientbackground {
  background: #1D1F22;
  color: #fff;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.drop-shadow {
  box-shadow: 5px 10px 5px gray;
  background: #2F3237;
  color: #fff;
}
.subtitle {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.commands {
  min-width: 300px;
  max-width: 400px;
  width: 70%;
}

.title {
  padding-top: 0.5em;
}

body {
  background: #292B30;
  color: #fff;
  height: 100%;
  min-height: 100%;
}